/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,500;1,400;1,500;1,700&display=swap');

.navbar{
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    margin: 130px
}

.main-container{
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.start{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 45px;
}
   .style{
    color: #3A3A3A;
    font-weight: 600;
   }
   .main-container:hover img{
       transform: scale(1.2);
       transition: transform 1s ease-in;
   }
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width:60%;
}
.link-button{
    text-decoration: none;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color:#E02C6D;
    
}

/* collections styles */

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1047px;
    grid-row-gap: 30px;
    margin-left: 120px;
    background-color:  #FFFFFF;
  
}
.collection{
    width: 320px;
    height: 460px;
    padding: 1px;
    border: 0 solid gray;
    box-shadow: 2px 2px 3px lightgray;
    
}
.section-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#3A3A3A;
}
.collection-title{
     font-family: 'Poppins', sans-serif;
     color: #18191F;
}
.collection .collection-banner img{
    width: 3oopx;
    height: 256px;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #787885; 
}
.collection-info p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color:   #787885; 
}
.fa-star{
   color:#FB8200;
   font-size: 12px;
}
.button{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
    margin-left: 1045px;
    margin-top: 40px;
}
.my-ability{
    font-family: Poppins;
    margin: 115px;
    }
/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width:688px) {
    .main-container{
        width: 100%;
    }
    .navbar, .half-width, .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .navbar .half-width{
        flex-direction: column;
    }
}
/* tablet devices */
@media only screen and(min-width:688px) and (max-width:992px) {
    .main-container{
        width: 100%;
    }
    .navbar, .half-width,.collections{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* finish */
.foot{
    
        text-align: center;
        padding: 15px;
        font-size: 20px;
        line-height: 5px;
        background-color: #0A0826;
        color: #FFFFFF;
}

